.command{
	&__title{
		margin-bottom: 30px;
		@media screen and (min-width:768px) {
			margin-bottom: 60px;
		}
	}
&__slider__btns{
	@media screen and (max-width:767.9px) {
		display: none;
	}
}
	&__item{
		display: flex;
		flex-direction: column;
		height: auto;
		&__img{
			height: 380px;
			
			background: radial-gradient(50% 50% at 50% 50%, #E7D1AC 0%, #C0A87D 100%);;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__content{
			padding: 20px;
			background: $--gradient;
			color: $--white-orange;
			flex-grow: 1;
			@include p2;
			@media screen and (min-width:768px) {
				padding: 40px;
			}
			&__top{
				display: flex;
				flex-direction: column;
				gap: 5px;
				padding-bottom: 20px;
				border-bottom: 1px solid $--white-orange;
			}
		}
		&__name{
				@include titleH3;
				text-transform: uppercase;
		}
		&__bottom{
			padding-top: 20px;
		}
		
	}
	& .commandSlider {
		padding-bottom: 50px;
	}
	& .swiper-pagination-progressbar{
		top: inherit;
		bottom: 0px;
		background-color: #D6D4C8;
		& .swiper-pagination-progressbar-fill{
			background: $--beige;
		}
	}
}